<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://identity.netlify.com">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home</title>
    <meta name="description" content="Dave Evans Portfolio.">
    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script type=""></script>
    <script>window.netlifyIdentity && window.netlifyIdentity.on("init", n => { n || window.netlifyIdentity.on("login", () => { document.location.href = "/admin/" }) });</script>
    <link rel="stylesheet" href="_includes/assets/css/main.css">
    <script>window.netlifyIdentity && window.netlifyIdentity.on("init", n => { n || window.netlifyIdentity.on("login", () => { document.location.href = "/admin/" }) });</script>
</head>

<body>
    <header>

            {% include "components/nav.njk" %}

    
    </header>


    <main>
        <h1>Human centred, interaction and service design</h1>

        <p class="lede-text">Good design helps users and organisations alike.</p>

        <h2>What I do</h2>

        <p>I’m a user centred design professional with15 years working in digital, having worked with some of the largest government and private sector clients in the UK, including NHS, Home Office, SkyBet, DAZN and Jet2</p>

        <p>

            After leading design at the Home Office, I'm now helping government departments build out design capability, grow UCD maturity, and assist
            delivery teams build the best in class products and services for users.</p>
            

            <a class="btn btn-primary" href="/_includes/assets/docs/CV.pdf">Download my CV</a>
        
            

       
        
    </main>
    {% include "components/footer.njk" %}
</body>

</html>