@font-face {
  font-family: 'Tiempos Headline Black';
  src: url('TiemposHeadline-Black.eot');
  src: url('TiemposHeadline-Black.eot?#iefix') format('embedded-opentype'),
  url('TiemposHeadline-Black.woff') format('woff'),
  url('TiemposHeadline-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }




h1 {
  font-family: 'Tiempos Headline', serif;
  display: block;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 64px;
}

h2 {
  font-size: 2em;
  line-height: 1em;
}

h2 a[href] {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

html,
body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #494949;
}

body {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  background-color: #f9f9f9;
}

main, nav, footer, #HeroSection {
  max-width: 37.5em;
  margin: 0 auto;
}

p,
pre,
code {
  line-height: 1.5em;
  display: block;
  margin-bottom: 32px;
}

header a[href],
header a[href]:visited, footer a[href],
footer a[href]:visited {
  color: #494949;
  text-decoration: underline;
}

header a[href]:hover, footer a[href]:hover {
  text-decoration: underline;
}

a[href],
a[href]:visited {
  color: #E2674D;
  text-decoration: underline;
}

a[href]:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

img.border {
  border-bottom: 5px solid #E2674D;
}

#container a {
  color: #E2674D;
}

header,
main,
footer {
  padding: 1em 0;
  width: 100%;
}

.indented-content {
  padding-left: 64px;
}

p.lede-text {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 64px;
}

main {
  padding-bottom: 2em;
}

@media only screen and (min-width: 600px) {
  header, main, footer {
    padding: 1em 0;
  }
}

main :first-child,
main > article :first-child {
  margin-top: 0;
}

pre {
  font-size: 1.2em;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
     tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
}

/* HEADER AND NAV */
header {
  display: block;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 600px) {
  nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* Header Nav */
@media only screen and (min-width: 600px) {
  header nav li {
    font-size: 1em;
  }
  header nav ul {
    padding: 0;
    list-style: none;
    float: right;
  }
}

header nav ul :first-child {
  margin-left: 0;
}

header nav li {
  display: inline-block;
  margin: 0 .25em;
  font-size: 1.2em;
}

@media only screen and (min-width: 600px) {
  header nav li {
    font-size: 1em;
  }
}

@media only screen and (max-width: 599px) {
  header nav li {
    font-size: 1em;
  }
}

header nav li a {
  padding: .25em .5em;
}

header nav li a[href]:not(:hover) {
  text-decoration: none;
}

header nav li a[data-current="current item"] {
  border-bottom: 4px solid #E2674D;
}

/* Posts List */
article {
  margin-bottom: 4em;
  padding-bottom: 1em;
}

article p {
  padding: 0;
  margin-top: 0;
}

main > section > article > * {
  margin-top: 0;
  margin-bottom: .5em;
}

section {
  margin-bottom: 64px;
}

section h2{
  margin: 0;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
  line-height: 2em;
  height: 2em;
  border: 1px solid #4E5455;
  background-color: #4E5455;
  color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
  margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
}

a[rel="tag"]:last-child {
  margin-right: 0;
}

/* Contact Form */
form {
  display: -ms-grid;
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  padding: 1em;
  margin-bottom: 1em;
}

input,
textarea {
  border: 1px solid #4E5455;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 1.1rem;
  }
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer li {
  list-style-type: none;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#HeroWrapper {
  width: 100%;
  background-color: #c2fff9;
  margin-bottom: 36px;
}

#HeroSection {
  max-width: 37.5em;
  height: 5em;
}

a#Logo {
  padding: .5em;
  border: 3px solid #E2674D;
  text-decoration: none;
  color: #494949;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
}

/* BUTTONS */
button {
  font-size: 1em;
}

a.btn {
  font-size: 1em;
  display: inline-block;
}

a[href].btn-primary {
  background-color: #E2674D;
  padding: .75em;
  border: 1px solid;
  color: #f9f9f9;
}

a[href].btn-primary :hover {
  background-color: #e2674d;
}

a[href].btn-primary a[href].btn-primary:visited {
  color: #f9f9f9;
}

a.btn-secondary {
  background-color: #c2fff9;
  padding: .5em;
  color: #898989;
}

.summary-list {
  margin-bottom: 36px;
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: 1em;
}

.summary-list .summary-list_row {
  display: table-row;
}

.summary-list .summary-list_key {
  width: 50%;
  font-weight: 700;
  margin-bottom: 4px;
  display: table-cell;
  padding: 4px;
}

.summary-list .summary-list_detail {
  width: 50%;
  display: table-cell;
  padding: 4px;
}
/*# sourceMappingURL=main.css.map */