
// FONTS

@font-face {
	font-family: 'Tiempos Headline Black';
	src: url('TiemposHeadline-Black.eot');
	src: url('TiemposHeadline-Black.eot?#iefix') format('embedded-opentype'),
	url('TiemposHeadline-Black.woff') format('woff'),
	url('TiemposHeadline-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

@import url("components/summary-list.css");

// PALLETTE



$primary-colour: #E2674D;
$secondary-colour:#898989;

// BACKGROUNDS
$background:#f9f9f9;

// FONTS
$primary-font: #494949;
$secondary-font: #898989;
$font-body: 1.1875em;

// BUTTONS
$primary-button: #f9f9f9;
$secondary-button: #898989;


// BORDERS 

$border: #4E5455;


h1 {
	font-family: 'Tiempos Headline', serif;
	display: block;
	font-size: 3em;
	line-height: 1em;
	margin-bottom:64px;
}
h2 {
	font-family: 'Tiempos Headline', serif;
	display: block;
	font-size: 2em;
	line-height: 1em;
	a[href]{
		text-decoration: none;
	}
}
@media only screen and (max-width: 600px) {
	h2 {
	  font-size: 1.5em;
	}
  }
@media only screen and (max-width: 600px) {
	h1 {
	  font-size: 2em;
	  
	}
  }



html,
body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: $font-body;
	line-height: 1.5em;
    
    overflow-wrap: break-word;
    word-wrap: break-word;
	color: $primary-font;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: $background;
}

main, nav, footer, #HeroSection  {
	max-width: 37.5em;
	margin: 0 auto;
}
@media only screen and (max-width: 599px) {
	main, nav, footer{
	  padding: 0 1em;
	}
	}
@media screen and (max-width: 599px) {
	body{
		font-size: .842em;
	}
}
	
p,
pre,
code {
	line-height: 1.5em;
	display: block;
	margin-bottom: 32px;
}

header, footer {
	a[href],
a[href]:visited {
	
	color:$primary-font;
	text-decoration: underline;
	
	
}
a[href]:hover{
	text-decoration: underline;

}

}

	a[href],
	a[href]:visited {
		
		color:$primary-colour;
		text-decoration: underline;
		
		
	}
	a[href]:hover{
		text-decoration: underline;
	
	}


img {
	max-width: 100%;
	height: auto;
}
img.border{
	border-bottom: 5px solid $primary-colour;
}
img.shadow{
	box-shadow:0px 0px 15px 0px $secondary-colour;
}
img.blur {
		-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
		filter: blur(5px);
	
}
#container a{
	color: $primary-colour;
}
header,
main,
footer {
	padding: 1em 0;
	width: 100%;

}
@media only screen and (min-width: 600px) {

	.indented-content {
	  padding-left: 64px;
	}
	}

p.lede-text{
	font-size: 1.2em;
	line-height: 1.3em;
	margin-bottom: 64px;
}
main {
	padding-bottom: 2em;
}

@media only screen and (min-width: 600px) {
	header,main,footer {
	  padding:1em 0;
	}
  }

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 1.2em;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}
/* HEADER AND NAV */
header{
	display: block;
}
.header-wrapper {
	display: flex;
	
}
@media only screen and (min-width: 600px) {
nav{
	align-items: center;
	display: flex;
	justify-content: space-between;

}
}

/* Header Nav */
@media only screen and (min-width: 600px) {
	header nav li {
	  font-size: 1em;
	  
	}
  
header nav ul {
	padding: 0;
	list-style: none;
	float: right;
}
}


header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
	font-size: $font-body;
}
@media only screen and (min-width: 600px) {
	header nav li {
	  font-size: 1em;
	  
	}
  }
  @media only screen and (max-width: 599px) {
	header nav li {
	  font-size: .5em;
	  
	}
  }
header nav li a {
	padding: .25em .5em;
	
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	
	border-bottom: 4px solid $primary-colour;
}

section {
	margin-bottom: 64px;
  }
  
  section h2, section p{
	margin: 0;
  }

  figcaption{
	  font-size: .842em;
	  line-height: 1em;
	  padding-top: .5em;
	  margin-bottom: 64px ;
  }

/* Posts List */
article {
	margin-bottom: 4em;
	padding-bottom: 1em;
	p{
		padding: 0;
		margin-top: 0;
	}
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid $border;
	background-color: $border;
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  padding: 1em;
  margin-bottom: 1em;
}

input,
textarea {
	border: 1px solid $border;
}



@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
footer ul{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}
footer li{
	list-style-type: none;
	margin-right: 20px;
	display: flex;
}
#HeroWrapper{
	width: 100%;
	background-color: $secondary-colour;
	margin-bottom: 36px;
}
#HeroSection{
	
	max-width: 37.5em;
	height: 5em;

}
a#Logo{
	padding: .5em;
	border: 3px solid $primary-colour;
	text-decoration: none;
	color: $primary-font;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'PT Serif', serif;
	
}

/* BUTTONS */

button{
	font-size: 1em;
}
a.btn{
	font-size: 1em;
	display:inline-block;
}
a[href].btn-primary{
	background-color:$primary-colour;
	padding: .75em;
	border: 1px solid ;
	color: $primary-button;
	:hover{
    background-color: opacify($color: $primary-colour, $amount: .5);
	}
	a[href].btn-primary:visited{
		color: #f9f9f9;
	}
}
a.btn-secondary{
	background-color:$secondary-colour;
	padding: .5em;
	color: $secondary-button;

}

.summary-list{
    margin-bottom: 36px;
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 1em;
    .summary-list_row{
        display: table-row;
    }
    .summary-list_key{
        width: 50%;
        font-weight: 700;
        margin-bottom: 4px;
        display: table-cell;
        padding: 4px;
    }
    .summary-list_detail{
        width: 50%;
        display: table-cell;
        padding: 4px;

    }
}