<footer>
  <h3>Dave Evans 2022</h3>
<ul>
<li><a href="/about/">About me</a></li>
<li><a href="https://www.linkedin.com/in/david-evans-42653813/">Linkedin</a></li>
<li><a href="https://twitter.com/devansxd">Twitter</a></li>
<li><a href="https://github.com/devansXD">Github</a></li>
<li><a href="https://medium.com/@xd.davidevans">Medium</a></li>
<li><a href="https://www.strava.com/athletes/24997533">Strava</a></li>

</ul>
</footer>
