<footer>
  <h3>Dave Evans 2021</h3>
<ul>
<li><a href="https://www.linkedin.com/in/david-evans-42653813/">Linkedin</a></li>
<li><a href="https://twitter.com/devansxd">Twitter</a></li>
<li><a href="https://github.com/devansXD">Github</a></li>
<li><a>Medium</a></li>

</ul>
</footer>
